<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>pivO'tes, Claudine Pradal</title>

  <link rel="icon" type="image/svg" href="images/favicon.svg" />

  <!-- pour google -->
  <title>pivO'tes - Notre Aventure Numérique</title>
  <meta name="description" content="" >

  <!-- pour fb -->
  <meta property=“og:title” content="pivO'tes">
  <meta property=“og:image” content="images/logo.png">
  <meta property=“og:description” content="">


    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%#= render 'shared/navbar' %>
    <%#= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>

